* {
    box-sizing: border-box;
}

body {
    background: #333;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: monospace;
}

main {
    width: 800px;
    margin: 0 auto;
    color: white;
    margin-top: 20px;
}

.game-container {
    position: relative;
    width: 352px;
    height:  198px;
    margin: 0 auto;
    margin-top: 20px;
}

.game-container canvas {
    outline: 1px solid white;
}

#throttle {
    transform: rotateZ(270deg);
    position: relative;
    top: 50px;
    left: -50px;
}